{% extends "@RavuAlHemioTotstrich/base.html.twig" %}

{% block title %}Deadlines{% endblock %}

{% block body %}
    <form action="{{ path('add_deadline') }}" method="post">
        <table class="deadlines">
            <tr class="invisible-header-row">
                <th class="description">Description</th>
                <th class="deadline">Deadline</th>
                <th class="interval">Interval</th>
                <th class="actions">Actions</th>
            </tr>
            <tr class="insertion-row">
                <td class="description"><input type="text" name="description" title="Description" placeholder="EProg Übung 3" /></td>
                <td class="deadline"><input type="text" name="deadline" title="Deadline" placeholder="10.4. 10:40" /></td>
                <td class="interval"></td>
                <td class="actions"><button class="add">+</button></td>
            </tr>
            {% for deadline in deadlines %}
                <tr class="deadline {% if deadline.isComplete %}complete{% elseif deadline.isOverdue %}overdue{% else %}pending{% endif %}">
                    <td class="description">{{ deadline.description | escape }}</td>
                    <td class="deadline">{{ deadline.deadline | escape }}</td>
                    <td class="interval">{{ deadline.interval | escape }}</td>
                    <td class="actions">
                        <a class="edit" href="{{ path('show_deadline_editor', {'numID': deadline.id}) }}">&#128393;</a>
                        <button class="complete" type="submit" form="deadline-{{ deadline.id }}-completion-form">&#10004;</button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </form>
    {% for deadline in deadlines %}
        <form id="deadline-{{ deadline.id }}-completion-form" action="{{ path('complete_deadline', {'numID': deadline.id}) }}" method="post"></form>
    {% endfor %}

    <section class="page-selector">
        {% if completedVisible %}
            {% if page = 0 %}
                <a class="filter-link" href="{{ path('list_deadlines') }}">&#9200;</a>
            {% else %}
                <a class="filter-link" href="{{ path('list_deadlines_page', {'intPage': page}) }}">&#9200;</a>
            {% endif %}
        {% else %}
            {% if page = 0 %}
                <a class="filter-link" href="{{ path('list_all_deadlines') }}">&#10033;</a>
            {% else %}
                <a class="filter-link" href="{{ path('list_all_deadlines_page', {'intPage': page}) }}">&#10033;</a>
            {% endif %}
        {% endif %}

        {% for linkPage in 1..pageCount %}
            {% if linkPage - 1 = page %}
                <span class="current-page">{{ linkPage }}</span>
            {% elseif completedVisible %}
                <a class="page-link" href="{{ path('list_all_deadlines_page', {'intPage': linkPage - 1}) }}">{{ linkPage }}</a>
            {% else %}
                <a class="page-link" href="{{ path('list_deadlines_page', {'intPage': linkPage - 1}) }}">{{ linkPage }}</a>
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}
